{% extends "client/nav.html" %}

{% load static %}
{% load humanize %}
{% block body%}
<section class="secondary-background">
    <!-- secondary nav starts -->
<div class="secondary-nav">
    <i class="fas fa-chevron-left" style="color: #fff;" onclick="window.history.back();" ></i>
    <p class="sec-nav-title">Withdrawal</p>
    <i class="fas fa-times-circle  text-right" style="color: #005FD8;"  ></i>
  </div>

  <!-- seconday nav ends -->
  <!-- top section -->
  <div id="verification_div2" style="display:none; width:100%; height:80vh; background-color: #fff; position:fixed; top:10vh; left:0" class="pt-4"> 
    <div id="success_div2" style="text-align: center; display:none; padding: 30% 10%;">
      <i class="fas fa-check-circle  fa-5x" style="color: #007bff;" ></i>
      <p style="font-size: 1.1rem;">Your Payment is on the way. You will be redirected to your wallet within seconds</p>
    </div>
    <div id="failure_div2" style="text-align: center; display:none; padding: 30% 10%;">
      <i class="fas fa-times-circle  fa-5x" style="color: #C91B30;" ></i>
      <p style="font-size: 1.1rem;" id="error_p"></p>
      <p style="font-size: 1.1rem;"> You will be redirected to your wallet within seconds</p>
    </div>
  </div>
    <div class="job-form-container">
      <p style="font-size: 1.1rem; color:red;" id="error_p2"></p>
        <form class="onboarding_form mt-2" action="#" id="job_details_form" method="POST" autocomplete="off">
            {% csrf_token %}
            <label class="job-label">Amount</label>
            <input type="text" id="w_balance" value="{{balance}}" hidden/>
            <input type="text" id="w_amount"   class="job-input form-control mb-5" placeholder="N{{balance|floatformat:2|intcomma}}">
            <p class="job-label mt-5 mb-5">Kindly note that payment would be made into the account details below</p>

            <div class="withdraw-bank mb-5 py-2 pl-3 pr-3">
              <img src="{% static 'img/bank.svg' %}" >
              <div>
                <h5 style="font-family: Poppins; color:#829CC5">{{bank}}</h5>
                <p style="font-family: Poppins; color:#829CC5; font-size: 1.5rem;" >{{accountNo}}</p>
              </div>
              <img src="{% static 'img/edit.svg' %}" >
            </div>

            <input type="button" value="Withdraw" class="form-control job-form-button" id="withdrawal_button">
        </form>

    </div>
  </div>
</section>

{% endblock %}