{% extends "artisan/nav.html" %}

{% load static %}
{% load humanize %}
{% block body%}
<section class="home-background">
    <!-- hamburger starts -->
<div style="width: 100%; display: flex; justify-content: space-between;">
    <p class="text-left" style="color:#005FD8; font-size: 1.3rem; font-weight: 600; font-family: Poppins;">Wallet Balance</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" ><i class="fas fa-ellipsis-v  text-right" style="color: #005FD870;" ></i></button>
  </div>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="list-item-nav">
      <li class="nav-item item-top">
        <button type="button" class="close" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span aria-hidden="true">&times;</span>
          </button>
      </li>
      <li class="nav-item item-second">
        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item item-others">
        <a class="nav-link spacing " href="{% url 'account' %}">Account <i class="fas fa-user-circle fa-2x ml-3"></i></a>
      </li>
      
      <li class="nav-item item-others">
        <a class="nav-link" href="{% url 'logout' %}">Sign Out <i class="fas fa-sign-out-alt fa-2x ml-3"></i></a>
      </li>
    </ul>
  </div>
  <!-- hamburger ends -->
    <div class="wallet-top">
      <div class="balance">
        <h1>&#8358;{{walletBalance|floatformat:2|intcomma}}</h1>
      </div>
      <div class="option-div">
        <input type="button" value="Withdraw" class="form-control withdraw mt-3" id="job_details_submit" style="width: 35%;">
            <input type="button" value="Top-up" class="form-control topup mt-3" id="job_details_submit" style="width: 35%;">
      </div>
    </div>
    <div class="wallet-bottom mt-3">
      <h5 style="font-family: Poppins;">Transactions</h5>
      {% if transaction %}
    {% for t in transaction %}
      {% if t.transaction_type == "Credit" %}
      <div class="trans-div">
        <div class="trans-1">
          <p>{{t.transaction_message}}</p>
          <p>{{t.date_added}}</p>
        </div>
        <div class="trans-2">
          <p>{{t.amount|floatformat:2|intcomma}}</p>
          <p style="color:green">{{t.transaction_type}}</p>
        </div>
      </div>
      {% else %}
      <div class="trans-div">
        <div class="trans-1">
          <p>{{t.transaction_message}}</p>
          <p>{{t.date_added}}</p>
        </div>
        <div class="trans-2">
          <p>{{t.amount|floatformat:2|intcomma}}</p>
          <p style="color:red">{{t.transaction_type}}</p>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    {% else %}
    <div class='text-center text-primary' style="margin-top:50px;">There is no Transaction yet</div>
    {% endif %}

    </div>
</section>
<footer class="footer">
    <a href="{% url 'artisan_home' %}">
        <i class="fas fa-home fa-2x  "></i>
        <p style="margin-top:-70px; color:#0069F050;">Home</p>
    </a>
    <a href="{% url 'chat' %}">
        <i class="fas fa-envelope fa-2x "></i>
        <p style="margin-top:-70px; color:#0069F050;">Chat</p>
    </a>
    <a href="{% url 'new_ads' %}">
        <i class="fas fa-plus-circle fa-3x "></i>
        <p style="margin-top:-70px; color:#0069F050;">Create Ads</p>
    </a>
    <a href="">
        <i class="fas fa-wallet fa-2x active-icon"></i>
        <p style="margin-top:-70px; color:#0069F050;">Wallet</p>
    </a>
    <a href="{% url 'gig' %}">
        <i class="fab fa-gitter fa-2x "></i>
        <!-- <span class="badge badge-danger" style="margin-left:-5px; display: none; border-radius: 50%; color:red;height: 10px;width: 10px;" id="notif">.</span> -->
        <p style="margin-top:-70px; color:#0069F050;">Gigs</p>
    </a>
</footer>
{% endblock %}