{% extends "artisan/nav.html" %}

{% load static %}

{% block body%}
<section class="secondary-background">
    <!-- secondary nav starts -->
<div class="secondary-nav">
    <i class="fas fa-chevron-left" style="color: #fff;" onclick="window.history.back();" ></i>
    <p class="sec-nav-title">Bid Details</p>
    <i class="fas fa-times-circle  text-right" style="color: #005FD8;"  ></i>
  </div>

  <!-- seconday nav ends -->
  <!-- top section -->
    <div class="job-form-container">
        <form class="onboarding_form mt-2" action="#" id="job_details_form" method="POST" autocomplete="off">
            {% csrf_token %}
            <label class="job-label">Title</label>
            <input type="text" id="title"   class="job-input form-control mb-3" placeholder="I need a washman" readonly>
            <label class="job-label">Brief Description</label>
            <textarea id="description"   class="job-input form-control mb-3" placeholder="I need a washman" readonly></textarea>
            <div class="job-flex">
                <div style="width:45%">
                    <label class="job-label">Duration</label>
                    <input type="text" id="title"   class="job-input form-control mb-3" placeholder="1 week" readonly>
                </div>
                <div style="width:45%">
                    <label class="job-label">Budget</label>
                    <input type="text" id="max_budget"   class="job-input form-control mb-3" placeholder="3,000" readonly>
                </div>
            </div>
            <div class="job-flex">
                <div style="width:45%">
                    <label class="job-label">Location</label>
                    <input type="text" id="location"   class="job-input form-control mb-3" placeholder="Somolu" readonly>
                </div>
                <div style="width:45%">
                    <label class="job-label">State</label>
                    <input type="text" id="state"   class="job-input form-control mb-3" placeholder="Lagos" readonly>
                </div>
            </div>
            <label class="job-label-blue">Service/Bidding Fee</label>
            <input type="text" id="title"   class="job-input-blue form-control mb-3" placeholder="NGN 3,500" readonly>
            <p class="text-center text-success">Congrats! you got the job</p>
   
            <input type="button" value="Accept" class="form-control gig-form-accept mt-3" id="job_details_submit" data-toggle="modal" data-target="#acceptModal">
            <input type="button" value="Decline" class="form-control gig-form-decline mt-3" id="job_details_submit" data-toggle="modal" data-target="#declineModal">
        </form>

    </div>
  </div>
</section>

<!-- Acceptance modal -->  
  <!-- Modal -->
  <div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h4 class="text-center">ACCEPT BID</h4>
          <p>Kindly confirm you accept this Bid and you will diligent do the Job to the best of your abilities. If however, you are found wanting, FIDA is authorised to take neccessary action.</p>
          <div class="modal_button-div">
            <input type="button" value="Confirm" class="form-control gig-form-accept mt-3" id="job_details_submit" style="width: 35%;">
            <input type="button" value="Cancel" class="form-control gig-form-decline mt-3" id="job_details_submit" style="width: 35%;">
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Decline Modal -->
  <!-- Modal -->
  <div class="modal fade" id="declineModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h4 class="text-center">DECLINE BID</h4>
          <p>Kindly confirm you are no longer interested in the job and consistent decline of jobs might affect your ratings. </p>
          <div class="modal_button-div">
            <input type="button" value="Confirm" class="form-control gig-form-accept mt-3" id="job_details_submit" style="width: 35%;">
            <input type="button" value="Cancel" class="form-control gig-form-decline mt-3" id="job_details_submit" style="width: 35%;">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}