{% extends "artisan/nav.html" %}

{% load static %}

{% block body%}
<section class="secondary-background">
    <!-- secondary nav starts -->
<div class="secondary-nav">
    <i class="fas fa-chevron-left" style="color: #fff;" onclick="window.history.back();" ></i>
    <p class="sec-nav-title">Edit Password</p>
    <i class="fas fa-times-circle  text-right" style="color: #005FD8;"  ></i>
  </div>

  <!-- seconday nav ends -->
  <!-- top section -->
    <div class="job-form-container">
      <div class='text-center alert ' id="bio_message_fail" style="display: none;"></div>
      <div class='text-center alert' id="bio_message_success" style="display: none;"></div>
        <form class="onboarding_form mt-2" action="#" id="job_details_form" method="POST" autocomplete="off">
            {% csrf_token %}
            <label class="job-label">Old Password</label>
            <input type="password" id="old_password"   class="job-input form-control mb-1" >
            <label class="job-label">New Password</label>
            <input type="password" id="new_password"   class="job-input form-control mb-1" >
            <label class="job-label">Confirm new Password</label>
            <input type="password" id="confirm_new_password"   class="job-input form-control mb-5" >
            
            <input type="button" value="Submit" class="form-control job-form-button" id="password_submit">
        </form>

    </div>
  </div>
</section>

{% endblock %}