{% extends "artisan/nav.html" %}

{% load static %}

{% block body%}
<section class="secondary-background">
    <!-- secondary nav starts -->
<div class="secondary-nav">
    <i class="fas fa-chevron-left" style="color: #fff;" onclick="window.history.back();" ></i>
    <p class="sec-nav-title">Edit Account</p>
    <i class="fas fa-times-circle  text-right" style="color: #005FD8;"  ></i>
  </div>

  <!-- seconday nav ends -->
  <!-- top section -->
    <div class="job-form-container">
      <div class='text-center alert ' id="bio_message_fail" style="display: none;"></div>
      <div class='text-center alert' id="bio_message_success" style="display: none;"></div>
        <form class="onboarding_form mt-2" action="#" id="job_details_form" method="POST" autocomplete="off">
            {% csrf_token %}
            <label class="job-label">Account Name</label>
            <input type="text" id="edit_name"   class="job-input form-control mb-1" value="{{user.account_name}}">
            <label class="job-label">Account Number</label>
            <input type="text" id="edit_number"   class="job-input form-control mb-1" value="{{user.account_number}}">
            <label class="job-label">Bank</label>
            <!-- <input type="text" id="edit_bank"   class="job-input form-control mb-5" value="{{user.bank_name}}"> -->
            <select class="job-input form-control mb-5" id="edit_bank">
              <option value="{{user.bank_name}}" selected>{{user.bank_name}}</option>
              <option value="Access Bank">Access Bank</option>
              <option value="Citibank">Citibank</option>
              <option value="Access (Diamond)">Access (Diamond)</option>
              <option value="Ecobank">Ecobank</option>
              <option value="Fidelity Bank">Fidelity Bank</option>
              <option value="First Bank">First Bank</option>
              <option value="FCMB">First City Monument Bank (FCMB)</option>
              <option value="GTB">Guaranty Trust Bank (GTB)</option>
              <option value="Heritage Bank">Heritage Bank</option>
              <option value="Jaiz Bank">Jaiz Bank</option>
              <option value="Keystone Bank">Keystone Bank</option>
              <option value="Kuda Bank">Kuda Bank</option>
              <option value="Polaris Bank">Polaris Bank</option>
              <option value="Providus Bank">Providus Bank</option>
              <option value="Stanbic IBTC Bank">Stanbic IBTC Bank</option>
              <option value="Standard Chartered Bank">Standard Chartered Bank</option>
              <option value="Sterling Bank">Sterling Bank</option>
              <option value="Union Bank">Union Bank</option>
              <option value="UBA">United Bank for Africa (UBA)</option>
              <option value="Unity Bank">Unity Bank</option>
              <option value="Wema Bank">Wema Bank</option>
              <option value="Zenith Bank">Zenith Bank</option>
              </select>
            
            <input type="button" value="Submit" class="form-control job-form-button" id="edit_account_submit">
        </form>

    </div>
  </div>
</section>

{% endblock %}