{% extends "onboarding/base.html" %}

{% load static %}

{% block body%}
<section class="onboarding-background">
    <div style="width:100%; text-align:left;" id="back_img"><i class="fas fa-chevron-left " style="color:#464646;" ></i></div>
    <img src="{% static 'img/fida.svg' %}" class="img-fluid">
    <p class="splashtext-bottom mt-2 mb-5" >You are almost done!</p>
    <p class="splashtext-bottom mt-2 mb-3 mt-5" >Please enter the 6-digit code sent to your email/phone number</p>
    <!-- verify form -->
    <div>
        <form class="onboarding_form mt-2" action="#" id="sign_up_form" method="POST" autocomplete="off">
            
            {% csrf_token %}
                <input type="text" id="code"   class="onboarding_form_input form-control mb-3" placeholder=" * * * * * *">
                <input type="button" value="Verify Account" class="form-control button mt-5" id="signup_next">
            </div>

            <p class="onboarding_footer mt-2 mb-1 text-center">Did not get the code?<span class="span-login"><a href="{% url 'register' %}"> Send again</span></a></p>
        </form>
    </div>
</section>
{% endblock %}