
body{
    overflow: hidden;
}
.home-background{
    height: 90vh;
    width: 80%;
    margin:5vh auto;
}
.secondary-background{
    height: 80vh;
    width: 80%;
    margin:10vh auto;
}
.footer{
    height: 80px!important;
    background-color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    line-height: 90px;
    justify-content: space-evenly;
}

.footer>a{
    color:#829CC530!important;
    text-align: center;
}
.active-icon{
    color:#0069F0!important;
    text-align: center;
}
.fa-2x {
    font-size: 1.5em!important;
}
.fa-3x {
    font-size: 3.5em!important;
    margin-top: -5vh!important;
}
/* .footer>a>p{
    color:#fff!important;
    font-size: 0.75rem;
} */
#navbarSupportedContent{
    /* background: #0000006b; */
    height: 100vh;
    width: 100%;
    z-index: 100;
    top:0;
    position: absolute;
}
.img-transfer {
    
    height: 80%;
}
#list-item-nav{
    margin-left: 45%;
    margin-bottom: 0;
    width: 100%;
    background: #0069F0;
    height: 100vh;
}

/* .nav-link{
    color:#fff!important;
} */
.item-top{
    /* background-color: #86EBBB; */
    height:50px;
    padding:5% 15%;
}
.item-others> .nav-link{
    color:#fff;
}
.item-others{
    height:50px;
    padding:1% 5%;
    color:#fff;
}
.item-second{
    height:10px;
}

.job-card{
    height: 140px;
    width: 31%;
    background-color: #EFF2FA;
    border-radius: 20px;
    text-align: center;
    margin:0.5% 0.5% 7% 0.5%;
    padding:5.5% 0;
}
p{
    margin:0;
    font-size: 0.7rem;
    font-family: Poppins;
}
.search{
    background-color: #0069F010;
    border:1px solid #0069F010;
    border-radius: 25px;
}
.job-form-container{
    overflow-y: scroll;
    height:85vh;
}
.job-scroll{
    overflow-y: scroll;
    flex-wrap: wrap;
    display: flex;
    height:70vh;
    /* justify-content: space-around; */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.job-scroll::-webkit-scrollbar, .job-form-container::-webkit-scrollbar, .ads-form-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.job-scroll, .job-form-container, .ads-form-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
textarea:focus, input:focus{
    outline: none;
}
.job-button{
    border-radius: 25px;
    background-color: #267DED;
    border:1px solid #267DED;
    color:#fff;
    height: 30px;
    line-height: 10px;
}
.job-amount{
    font-weight: bold;
    color:#33AB8E;
}
.job-inner{
    padding: 0 0.5%;
}
.secondary-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #005FD8;
    top: 0;
    left: 0;
    padding: 5% 10%;
    position: absolute;
    height: 60px;
}
.sec-nav-title{
    font-size: 1rem!important;
    color: #fff;
}
.job-input {
    background-color: #0069F008!important;
    border:1px solid #0069F008!important;
    border-radius:5px!important;
    font-family: Poppins;
}
.job-input-blue {
    background-color: #0069F008!important;
    border:1px solid #0069F008!important;
    border-radius:5px!important;
    font-family: Poppins;
    color:#0069F0;
}
.job-label{
    color:#829CC5;
    font-family: Poppins;
}
.ads-form-container {
    overflow-y: scroll;
    height: 75vh;
}
.job-label-blue{
    color:#0069F0;
    font-family: Poppins;
}
.job-flex{
    display: flex;
    justify-content: space-between;
}
.job-form-button{
    border-radius: 25px;
    background-color: #267DED;
    border:1px solid #267DED;
    color:#fff;
    font-family: Poppins;
    /* height: 30px; */
    /* line-height: 10px; */
}
.complete-profile{
    position: fixed;
    top:30vh;
    margin-right: 10%;
    text-align: center;
    font-weight: 500;
    padding-top:10vh;
    height:40vh;
    font-family: Poppins;
    color: #fff;
    background-color: #211e1ec7;

}
