{% extends "artisan/nav.html" %}

{% load static %}

{% block body%}
<section class="home-background">
    <!-- hamburger starts -->
<div style="width: 100%; display: flex; justify-content: space-between;">
    <p class="text-left">Welcome {{user_name}}!</p>
    <i class="fas fa-ellipsis-v  text-right" style="color: #005FD870;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" ></i>
  </div>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="list-item-nav">
      <li class="nav-item item-top">
        <button type="button" class="close" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span aria-hidden="true">&times;</span>
          </button>
      </li>
      <li class="nav-item item-second">
        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item item-others">
        <a class="nav-link spacing " href="{% url 'account' %}">Account <i class="fas fa-user-circle fa-2x ml-3"></i></a>
      </li>
      
      <li class="nav-item item-others">
        <a class="nav-link" href="{% url 'logout' %}">Sign Out <i class="fas fa-sign-out-alt fa-2x ml-3"></i></a>
      </li>
    </ul>
  </div>
  <!-- hamburger ends -->
  <!-- top section -->
  <div>
    {% if profileComplete == False %}
        <div class="alert alert-primary mt-3 complete-profile" id="server_message" role="alert">
          <img src="{% static 'img/dashboard_welcome.svg' %}" >
          <p> <span style="font-size: 1rem; font-weight: 700; ">Welcome {{user_name}}!</span><br> We can't wait to get you started. Firstly, kindly Complete your Profile </p>
          <a href="{% url 'account' %}"><button class="btn btn btn-outline-primary form-control mt-3" style="background-color: #fff; border-radius: 50px;">Here</button></a>
        </div>
    {% endif %}
    <!-- search -->
    <div class="form-group mt-3">
      <form>{% csrf_token %}
        <div style="display: flex; justify-content: left;">
          <input type="search" class="form-control search" name="search" id="search_order" placeholder="Search by key job words or state" onkeydown="search_orders(this)"/>
          <i class="fas fa-search"  style="margin-left:-13%;margin-top: 4%; color: #ccc;"></i>
        </div>
      </form>
  </div>
    <h4>Latest Jobs</h4>
    <div class="job-scroll" id="artisan_screen">
    </div>
  </div>
</section>
<footer class="footer">
    <a href="">
        <i class="fas fa-home fa-2x  active-icon"></i>
        <!-- <p>Pickup</p> -->
    </a>
    <a href="{% url 'chat' %}">
        <i class="fas fa-envelope fa-2x "></i>
        <!-- <p>Wallet</p> -->
    </a>
    <a href="{% url 'new_ads' %}">
        <i class="fas fa-plus-circle fa-3x "></i>
        <!-- <p>Home</p> -->
    </a>
    <a href="{% url 'wallet' %}">
        <i class="fas fa-wallet fa-2x "></i>
        <!-- <p>Profile</p> -->
    </a>
    <a href="{% url 'gig' %}">
        <i class="fab fa-gitter fa-2x "></i>
        <!-- <p>Signout</p> -->
    </a>
</footer>
<!-- Job Details modal -->  
  <!-- Modal -->
  <div class="modal fade" id="jobDetailsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="margin:0;">
      <div class="modal-content">
        <div class="modal-body">
          <section class="secondary-background">
            <!-- secondary nav starts -->
        <div class="secondary-nav">
            <i class="fas fa-times-circle" style="color: #fff;" class="close" data-dismiss="modal" aria-label="Close" ></i>
            <p class="sec-nav-title">Job Details</p>
            <i class="fas fa-times-circle  text-right" style="color: #005FD8;"  ></i>
          </div>
        
          <!-- seconday nav ends -->
          <!-- top section -->
            <div class="job-form-container">
                <form class="onboarding_form mt-2" action="#" id="job_details_form" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <label class="job-label">Title</label>
                    <input type="text" id="job_title"   class="job-input form-control mb-3" readonly>
                    <label class="job-label">Brief Description</label>
                    <textarea id="job_description"   class="job-input form-control mb-3"  readonly></textarea>
                    <div class="job-flex">
                        <!-- <div style="width:45%">
                            <label class="job-label">Duration</label>
                            <input type="text" id="job_duration"    class="job-input form-control mb-1" readonly>
                        </div> -->
                        <div style="width:100%">
                            <label class="job-label">Budget</label>
                            <input type="text" id="job_max_budget"   class="job-input form-control mb-3" readonly>
                        </div>
                    </div>
                    <div class="job-flex">
                        <div style="width:45%">
                            <label class="job-label">Location</label>
                            <input type="text" id="job_location"   class="job-input form-control mb-3" readonly>
                        </div>
                        <div style="width:45%">
                            <label class="job-label">State</label>
                            <input type="text" id="job_state"   class="job-input form-control mb-1" readonly>
                        </div>
                    </div>
                    <input id="job_id" hidden/>
                    <label class="job-label-blue">Service/Bidding Fee</label>
                    <input type="text" id="bidding_fee"   class="job-input-blue form-control mb-3" placeholder="I need a washman">
                    <label class="job-label-blue">Your Pitch to convince the Client</label>
                    <textarea id="job_pitch"   class="job-input-blue form-control mb-3" placeholder="I need a washman"></textarea>
                    <div class='text-center alert ' id="bio_message" style="display: none;"></div>
                    <input type="button" value="Submit Bid" class="form-control job-form-button mt-3" id="bidder_submit">
                </form>
        
            </div>
          </div>
        </section>
        </div>
      </div>
    </div>
  </div>
{% endblock %}