{% extends "artisan/nav.html" %}

{% load static %}

{% block body%}
<section class="home-background">
    <!-- hamburger starts -->
<div style="width: 100%; display: flex; justify-content: space-between;">
    <p class="text-left" style="color:#005FD8; font-size: 1.3rem; font-weight: 600; font-family: Poppins;">New Ads</p>
    <i class="fas fa-ellipsis-v  text-right" style="color: #005FD870;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" ></i>
  </div>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="list-item-nav">
      <li class="nav-item item-top">
        <button type="button" class="close" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span aria-hidden="true">&times;</span>
          </button>
      </li>
      <li class="nav-item item-second">
        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item item-others">
        <a class="nav-link spacing " href="{% url 'account' %}">Account <i class="fas fa-user-circle fa-2x ml-3"></i></a>
      </li>
      
      <li class="nav-item item-others">
        <a class="nav-link" href="{% url 'login' %}">Sign Out <i class="fas fa-sign-out-alt fa-2x ml-3"></i></a>
      </li>
    </ul>
  </div>
  <!-- hamburger ends -->
   
  <div class="ads-form-container">
    <div class='text-center alert ' id="bio_message_fail" style="display: none;"></div>
    <form class="onboarding_form mt-2" action="#" id="job_details_form" method="POST" autocomplete="off">
        {% csrf_token %}
        <label class="job-label">Title</label>
        <input type="text" id="title"   class="job-input form-control mb-3" placeholder="Professional Plumber">
        <label class="job-label">Brief Description</label>
        <textarea id="description"   class="job-input form-control mb-3" placeholder="I can help with all kinds of plumbing work"></textarea>
        <div class="job-flex">
            <div style="width:45%">
                <label class="job-label">Min Budget</label>
                <input type="text" id="min_budget"   class="job-input form-control mb-3" placeholder="2000">
            </div>
            <div style="width:45%">
                <label class="job-label">Max Budget</label>
                <input type="text" id="max_budget"   class="job-input form-control mb-3" placeholder="3000">
            </div>
        </div>
        <div class="job-flex">
            <div style="width:45%">
                <label class="job-label">Location</label>
                <input type="text" id="location"   class="job-input form-control mb-3" placeholder="Somolu">
            </div>
            <div style="width:45%">
                <label class="job-label">State</label>
                <select id="state" class="job-input form-control mb-3">
                    <option disabled selected>Choose</option>
                    <option value="Abia">Abia</option>
                    <option value="Adamawa">Adamawa</option>
                    <option value="Akwa Ibom">Akwa Ibom</option>
                    <option value="Anambra">Anambra</option>
                    <option value="Bauchi">Bauchi</option>
                    <option value="Bayelsa">Bayelsa</option>
                    <option value="Benue">Benue</option>
                    <option value="Borno">Borno</option>
                    <option value="Cross Rive">Cross River</option>
                    <option value="Delta">Delta</option>
                    <option value="Ebonyi">Ebonyi</option>
                    <option value="Edo">Edo</option>
                    <option value="Ekiti">Ekiti</option>
                    <option value="Enugu">Enugu</option>
                    <option value="FCT">Federal Capital Territory</option>
                    <option value="Gombe">Gombe</option>
                    <option value="Imo">Imo</option>
                    <option value="Jigawa">Jigawa</option>
                    <option value="Kaduna">Kaduna</option>
                    <option value="Kano">Kano</option>
                    <option value="Katsina">Katsina</option>
                    <option value="Kebbi">Kebbi</option>
                    <option value="Kogi">Kogi</option>
                    <option value="Kwara">Kwara</option>
                    <option value="Lagos">Lagos</option>
                    <option value="Nasarawa">Nasarawa</option>
                    <option value="Niger">Niger</option>
                    <option value="Ogun">Ogun</option>
                    <option value="Ondo">Ondo</option>
                    <option value="Osun">Osun</option>
                    <option value="Oyo">Oyo</option>
                    <option value="Plateau">Plateau</option>
                    <option value="Rivers">Rivers</option>
                    <option value="Sokoto">Sokoto</option>
                    <option value="Taraba">Taraba</option>
                    <option value="Yobe">Yobe</option>
                    <option value="Zamfara">Zamfara</option>
                </select>
            </div>
        </div>
        <label class="job-label-blue">Any additional Information</label>
        <textarea id="pitch"   class="job-input-blue form-control mb-3" placeholder="I need a washman"></textarea>
        <input type="button" value="Submit Ads" class="form-control job-form-button mt-3" id="new_ads_submit">
    </form>
    <div class="alert alert-primary mt-3 complete-profile" id="server_message" style="display: none;">
        <img src="{% static 'img/dashboard_welcome.svg' %}" >
        <p> <span style="font-size: 1rem; font-weight: 700;">Yay {{user_name}}!</span><br> Ads sumbitted successfully. You can view and edit your Ads at the Account Section </p>
        <a href="{% url 'account' %}"><button class="btn btn btn-outline-primary form-control mt-3" style="background-color: #fff; border-radius: 50px;">Here</button></a>
    </div>
</div>
</section>
<footer class="footer">
    <a href="{% url 'artisan_home' %}">
        <i class="fas fa-home fa-2x  "></i>
        <!-- <p>Pickup</p> -->
    </a>
    <a href="{% url 'chat' %}">
        <i class="fas fa-envelope fa-2x "></i>
        <!-- <p>Wallet</p> -->
    </a>
    <a href="">
        <i class="fas fa-plus-circle fa-3x active-icon"></i>
        <!-- <p>Home</p> -->
    </a>
    <a href="{% url 'wallet' %}">
        <i class="fas fa-wallet fa-2x "></i>
        <!-- <p>Profile</p> -->
    </a>
    <a href="{% url 'gig' %}">
        <i class="fab fa-gitter fa-2x "></i>
        <!-- <p>Signout</p> -->
    </a>
</footer>
{% endblock %}