{% extends "client/nav.html" %}

{% load static %}

{% block body%}
<section class="secondary-background">
    <!-- secondary nav starts -->
  <div class="secondary-nav">
    <a href="{% url 'client_home' %}"><i class="fas fa-chevron-left" style="color: #fff;" ></i></a>
    <p class="sec-nav-title">Account</p>
    <i class="fas fa-times-circle  text-right" style="color: #005FD8;"  ></i>
  </div>

  <!-- seconday nav ends -->
  <!-- bio section -->
  <div class="bio-div">
    <div class="text-danger mt-3 complete-profile"  role="alert">{{message}}</div>
    <div class="bio-header mb-3">
      <div class="bio-sub-header">
        <i class="fas fa-user-circle fa-2x mr-3" style="color: #0069F0;"  ></i>
        <p class="bio-title">Personal</p>
      </div>
      <a href="{% url 'edit_bio' %}"><img src="{% static 'img/edit.svg' %}" ></a>
    </div>
    <div class="bio-body">
      <div class="bio-sub-header">
        <p class="bio-text">Full Name</p>
        <p class="bio-text">{{user.firstname}} {{user.lastname}}</p>
      </div>
      <div class="bio-sub-header">
        <p class="bio-text">Email</p>
        <p class="bio-text">{{user.email}}</p>
      </div>
      <div class="bio-sub-header">
        <p class="bio-text">Phone</p>
        <p class="bio-text">{{user.user_phone}}</p>
      </div>
      <div class="bio-sub-header">
        <p class="bio-text">Address</p>
        <p class="bio-text text-right" style="width: 70%;">{{user.user_address}} {{user.user_state}}</p>
      </div>
      <div class="bio-sub-header">
        <p class="bio-text">Role</p>
        <p class="bio-text">Client</p>
      </div>
    </div>
  </div>

  <!-- bank section -->
  <div class="other-div">
    <div class="bio-header mb-3">
      <div class="bio-sub-header">
        <img src="{% static 'img/account_balance.svg' %}" >
        <p class="bio-title ml-3">Bank</p>
      </div>
      <a href="{% url 'edit_account' %}"><img src="{% static 'img/edit.svg' %}" ></a>
    </div>
    <div class="bio-body">
      <div class="bio-sub-header">
        <p class="bio-text">Account Name</p>
        <p class="bio-text">{{user.account_name}}</p>
      </div>
      <div class="bio-sub-header">
        <p class="bio-text">Account Number</p>
        <p class="bio-text">{{user.account_number}}</p>
      </div>
      <div class="bio-sub-header">
        <p class="bio-text">Bank</p>
        <p class="bio-text">{{user.bank_name}}</p>
      </div>
    </div>
  </div>

  <!-- security section -->
  <div class="other-div">
    <div class="bio-header mb-3">
      <div class="bio-sub-header">
        <img src="{% static 'img/security.svg' %}" >
        <p class="bio-title ml-3">Security</p>
      </div>
      <a href="{% url 'edit_password' %}"><img src="{% static 'img/edit.svg' %}" ></a>
    </div>
    <div class="bio-body">
      <div class="bio-sub-header">
        <p class="bio-text">Password</p>
        <p class="bio-text">* * * * * *</p>
      </div>
    </div>
  </div>

</section>

{% endblock %}